.resume-content {
  margin-bottom: 100px;
  @media print {
    margin-bottom: 0;
  }
}


.resume-content__section-article {
  margin-bottom: $global-padding*3;
}

.resume-content__section-article__group {
  margin-bottom: $global-padding;
}
