.resume-header {
  background: $black;
  color: $white;
  margin-bottom: $global-padding;
  padding: $global-padding;

  @media print {
    width: 100%;
  }
}


.resume-header__profile {
  padding-top: $global-padding;

  @include breakpoint(medium) {
    @include flex-grid-row;
    @include flex-align(center, middle);
  }

  .main-section {
    h1,
    h2 {
      line-height: 1;
    }

    @include breakpoint(small down) {
      text-align: center;
    }
  }
}
